---
import Layout from '../../layouts/Layout.astro';
import { getEntry, getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const { slug } = Astro.params;
const episode = await getEntry<'episodes', string>('episodes', slug);

if (!episode) {
  throw new Error(`Episode not found for slug: ${slug}`);
}

const { Content } = await episode.render();

export async function getStaticPaths() {
  const posts = await getCollection('episodes');
  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}
---

<Layout>
  <main class="content-container">
    <h1>{episode.data.title}</h1>
    <p><em>{episode.data.pubDate.toLocaleDateString()}</em></p>

    {episode.data.embedUrl && (
      <iframe 
        src={episode.data.embedUrl}
        width="100%" 
        height="120" 
        frameborder="0" 
        allow="autoplay; encrypted-media" 
        allowfullscreen
      ></iframe>
    )}

    <p>{episode.data.description}</p>

    <article>
      <Content />
    </article>
  </main>
</Layout>
