---
import Layout from '../layouts/Layout.astro';
import HeroImg from '../components/HeroImg.astro';
import { Image } from 'astro:assets';
import heroImg from '../images/holidays/halloween.webp';
import type { CollectionEntry } from "astro:content";
import { getCollection } from 'astro:content';

const allPosts = await getCollection("episodes");
const recentPosts = (allPosts as CollectionEntry<'episodes'>[])
  .filter((post) => post.data.tags?.includes("Holiday Special"))
  .sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime())
  .slice(0, 10);
---
<Layout>
    <Fragment slot="head">
        <title>Holiday Specials | Wedding Photo Hangover</title>
        <link rel="canonical" href="https://weddinghangover.com/holiday-specials" />
        <meta name="description" content="All the spooky, festive, and chaotic holiday episodes of Wedding Photo Hangover. Perfect for Halloween, Christmas, and everything in between." />

        <meta property="og:site_name" content="Wedding Photo Hangover - A Wedding Photography Podcast" />
        <meta property="og:title" content="Holiday Specials | Wedding Photo Hangover" />
        <meta property="og:description" content="All the spooky, festive, and chaotic holiday episodes of Wedding Photo Hangover. Perfect for Halloween, Christmas, and everything in between." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://weddinghangover.com/holiday-specials" />
        <meta property="og:image" content="/images/holidays/halloween.webp" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Holiday Specials | Wedding Photo Hangover" />
        <meta name="twitter:description" content="All the spooky, festive, and chaotic holiday episodes of Wedding Photo Hangover. Perfect for Halloween, Christmas, and everything in between." />
        <meta name="twitter:image" content="/images/holidays/halloween.webp" />
        <meta name="twitter:url" content="https://weddinghangover.com/holiday-specials" />

        <meta itemprop="name" content="Holiday Specials | Wedding Photo Hangover" />
        <meta itemprop="description" content="All the spooky, festive, and chaotic holiday episodes of Wedding Photo Hangover. Perfect for Halloween, Christmas, and everything in between." />
        <meta itemprop="url" content="https://weddinghangover.com/holiday-specials" />
        <meta itemprop="image" content="/images/holidays/halloween.webp" />
        <link rel="preload" href="/css/blogStyles.css" as="style" onload="this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="/css/blogStyles.css"></noscript>
        <link rel="preload" as="image" href={heroImg.src} type="image/webp" fetchpriority="high" />
    </Fragment>
<main>
    <HeroImg 
        title="Special Guests" 
        background={heroImg} 
        />
  <div class="content-container-2">
    <section class="center-text">
    <h2 style="margin-bottom: 2rem;">10 Most Recent Holiday Episodes</h2>
    <div class="blog-list">
        {recentPosts.map((post) => (
        <div class="blog-card">
            <a href={`/blog/${post.slug}/`}>
            <img src={post.data.image} alt={post.data.title} class="blog-card-image" />
            </a>
            <div class="blog-card-content">
            <a href={`/blog/${post.slug}/`}>
                <h2 class="blog-card-title">{post.data.title}</h2>
            </a>
            <p class="blog-card-description">{post.data.description}</p>
            <a href={`/blog/${post.slug}/`}>
                <p class="blog-card-date">{new Date(post.data.pubDate).toLocaleDateString()}</p>
            </a>
            </div>
        </div>
        ))}
    </div>
    </section>
  </div>
  </main>
  </Layout>