---
import montserratUrl from '../fonts/Montserrat-Regular.woff2';
import montserratSBUrl from '../fonts/Montserrat-SemiBold.woff2';
import garamondUrl from '../fonts/EBGaramond-Regular.woff2';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Cookiebanner from '../components/Cookiebanner.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<slot name="head" />
		<link rel="icon" type="image/x-icon" href="/images/global/favicon.ico" />
		<link rel="preload" href={montserratUrl} as="font" type="font/woff2" crossorigin>
	    <link rel="preload" href={garamondUrl} as="font" type="font/woff2" crossorigin>
		<link rel="preload" href={montserratSBUrl} as="font" type="font/woff2" crossorigin>
		<style set:html={`@font-face {
			font-family: 'Montserrat';
			src: url('${montserratUrl}') format('woff2');
			font-weight: 400;
			font-style: normal;
			font-display: swap;
		}

		@font-face {
			font-family: 'Montserrat-SemiBold';
			src: url('${montserratSBUrl}') format('woff2');
			font-weight: 600;
			font-style: normal;
			font-display: swap;
		}

		@font-face {
			font-family: 'Garamond';
			src: url('${garamondUrl}') format('woff2');
			font-weight: 400;
			font-style: normal;
			font-display: swap;
		}`}></style>
		<link rel="stylesheet" href="/css/global.css" />
		<meta name="generator" content={Astro.generator} />
		<link rel="alternate" type="application/rss+xml" title="Wedding Photo Hangover Blog" href="/blog/rss.xml" />
		<link rel="alternate" type="application/rss+xml" title="Wedding Photo Hangover Podcast" href="/episodes/rss.xml" />
	</head>
	<body>
		<Header />
		<Cookiebanner />
		<slot />
		<Footer />
		<script src="/js/cookieBanner.js" defer></script>
		<script src="/js/script.js" defer></script>
	</body>
</html>
