---
import montserratUrl from '../fonts/Montserrat-VariableFont_wght.woff2';
import garamondUrl from '../fonts/EBGaramond-VariableFont_wght.woff2';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href="/images/global/favicon.ico" />
		<link rel="preload" href={montserratUrl} as="font" type="font/woff2" crossorigin>
	    <link rel="preload" href={garamondUrl} as="font" type="font/woff2" crossorigin>
		<style set:html={`@font-face {
			font-family: 'Montserrat';
			src: url('${montserratUrl}') format('woff2');
			font-weight: 100 900;
			font-style: normal;
			font-display: swap;
		}

		@font-face {
			font-family: 'Garamond';
			src: url('${garamondUrl}') format('woff2');
			font-weight: 100 900;
			font-style: normal;
			font-display: swap;
		}`}></style>
		<link rel="stylesheet" href="/css/global.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content="Wedding Photo Hangover" />
		<meta property="og:description" content="An irreverent look at wedding photography." />
		<meta property="og:image" content="/images/header/WPH_CleanNB_LOGO.webp" />
		<meta name="robots" content="noindex">
		<slot name="head" />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
		<script src="/js/headerScroll.js" defer></script>
		<script src="/js/script.js" defer></script>
	</body>
</html>
